// Hide title on homepage, specific page ID number needs to go here 
.page-id-1395 {
    .entry-title {
        display: none;
    }
}
.home-grid {
    align-items: center;
    margin-bottom: 3em;
    .home-h2 {
        font-weight: 900;
    }
    .home-action {
        margin: 5em 0 0 0;
        font-size: 0.875em;
        p {
            margin-top: 2em;
        }
        a.home-btn-1,
        a.home-btn-2 {
            font-weight: 700;
            text-decoration: none;
            padding: 1em 1.5em;
            border: 2px solid $color_2;
            &:hover {
                background: $color_1;
                border-color: $color_1;
                color: $white;
                transition: all 0.3s ease;
            }
        }
        a.home-btn-1 {
            background: $color_2;
            color: $white;
            margin-right: 0.25em;
        }
        a.home-btn-2 {
            background: $white;
            color: $black;
        }
    }
}
.home-h3 {
    width: 70%;
}
.home-paragraph,
.home-contribute {
    width: 80%;
}
.home-h3,
.home-paragraph,
.home-contribute {
    margin: 0 auto 2em;
}
