.type-page {
    .entry-header {
        margin: 4rem 0;
        h1 {
            font-size: 1.875rem;
            letter-spacing: -1px;
        }
    }
    // Don't have spacing on home page
    &.post-1395 .entry-header {
        margin: 0;
    }
    h6 {
        width: 70%;
        margin: 0 auto;
        font-weight: 700;
        font-size: 1rem;
    }
    .vertical-columns {
        align-items: center;
    }
}

/* Wordpress column blocks */
.wp-block-columns {
    margin: 0 0 3rem 0;
    h3 {
        margin-bottom: 2rem;
    }
    h4 {
        margin-bottom: 1rem;
        a {
            color: $color_dark_gray;
            text-decoration: none;
            &:hover {
                color: $color_2;
            }
        }
    }
    p {
        margin-bottom: 0.875rem;
    }
}
@media (min-width: 782px) {
    .wp-block-column:not(:first-child) {
        margin-left: 64px;
    }
}

/* Wordpress entry heading spacing */
.entry-content {
    h3 {
        margin-bottom: 2rem;
    }
    h5 {
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
}