/* Navigation
--------------------------------------------- */

.language-nav {
	text-transform: uppercase;
	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;
		align-content: center;
		
	}
	li a {
		padding: 2.6em 0.6em 0.8em 0.6em; //smaller text needs to be pushed down further
		font-size: 0.8em;
		color: $color_light_gray;
		display: inline-block;
		text-decoration: none;
		border-bottom: 3px solid $color_transparent;
		transition: color 200ms linear, border 200ms linear;
		text-align: center;
	}
}
.main-nav,
nav.site-nav > div,
.main-navigation {
	text-transform: uppercase;
	display: block;
	width: 100%;
}

ul.nav-menu,
ul.menu,  
.menu > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: end;
	align-content: center;
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		list-style: none;
		position: relative;
		margin: 0;
		padding: 0;
		a {
			margin: 0;
			padding: 2em 1em .5em 1em;
			color: $color_body_text;
			display: block;
			text-decoration: none;
			text-align: center;
			border-bottom: 3px solid $color_transparent;
		}
		// Secondary menu
		ul {
			height: unset;
			display: block;
			position: absolute;
			left: -999em;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			background:$color_body_bg;
			z-index: 100;
			min-width: 200px;
			border-top: 3px solid $color_2;  //fancy border on flyouts
			opacity: 0;
			transition: opacity 200ms linear;
			margin: 0;
			padding: 0;
			a {
				padding: 0.5em 0.5em 1em 0.5em;
				font-weight: normal;
				text-align: left;
				border-bottom: 0px solid $color_1;
			}
			li:hover > a,
			li.focus > a{
				border-bottom: 0px solid $color_1;
			}
		}
	}

	// if last has children - pin subnav right
	li:last-child.menu-item-has-children .sub-menu {
		right: unset;
	}
	li:last-child.menu-item-has-children:hover .sub-menu {
		right: 0;
		@media screen and (max-width: $mobile_trigger) {
			right: unset;
		}
	}

	li:hover > ul,
	li.focus > ul {
		left: auto;
		opacity: 1;
	}

	li:hover > a,
	li.focus > a{
		transition: color 200ms linear, border 200ms linear;
		border-bottom: 3px solid $color_1;}

	li:hover > a,
	li.focus > a,
	.current_page_ancestor > a,
	.current-menu-item > a {
		color: $color_nav_highlight;
	}

	.page_item_has_children > a,
	.menu-item-has-children > a {
		&::after {
			content: "\f347";
			font-family: dashicons;
			display: inline;
			position: relative;
			align-self: end;
		}
	}
}

/* Mobile menu. */
.menu-toggle {
	display: none;
}

@media screen and (max-width: $mobile_trigger) {
	.main-navigation.toggled ul,
	.menu-toggle {
		display: block;
		li{
			ul {
				height: unset;
				display: block;
				position: relative;
				left: 0;
				box-shadow: none;
				background:$color_body_bg;
				z-index: 100;
				min-width: 200px;
				border-top: none;  //fancy border on flyouts
				opacity: 1;
				transition: opacity 200ms linear;
				margin: 0;
				padding: 0;
				a {
					padding-left: 2em;
					font-weight: normal;
				}
			}
			a{
				width: 100%;
				text-align: left;
				border-bottom: 1px solid #bbb;
				padding: 1em;
			}
		}
		li:hover > a,
		li.focus > a,
		.current_page_ancestor > a,
		.current-menu-item > a,
		.current_page_item > a {
			color: $color_nav_highlight;
			border-bottom: 0px solid $color_1;
		}
	}

	.main-navigation ul,
	ul.sitelanguages {
		display: none;
	}
}


