/* Navigation
--------------------------------------------- */

.language-nav {
	text-transform: uppercase;
	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;
		align-content: center;
		
	}
	li a {
		padding: 2.6em 0.6em 0.8em 0.6em; //smaller text needs to be pushed down further
		font-size: 0.8em;
		color: $color_light_gray;
		display: inline-block;
		text-decoration: none;
		border-bottom: 3px solid $color_transparent;
		transition: color 300ms linear, border 300ms linear;
		text-align: center;
	}
}
.main-nav,
nav.site-nav > div,
.main-navigation {
	text-transform: uppercase;
	display: block;
	width: 100%;
	align-self: center;
}

ul.nav-menu,
ul.menu,  
.menu > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: end;
	align-content: center;
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		list-style: none;
		position: relative;
		margin: 0 0 0 1.75em;
		padding: 0;
		&:hover {
			&.page_item_has_children > a,
			&.menu-item-has-children > a {
				&::after {
					color: $color_body_text;
					transition: color 0.3s ease;
				}
			}
		}
		a {
			margin: 0;
			padding: 0.75em 0;
			color: $color_body_text;
			display: block;
			text-decoration: none;
			text-align: center;
			border-bottom: none;
		}
		// Secondary menu
		ul {
			margin-left: 0;
			height: unset;
			display: block;
			position: absolute;
			left: -999em;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
			background: $color_body_bg;
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			z-index: 100;
			min-width: 200px;
			opacity: 0;
			transition: opacity 300ms linear;
			padding: 0;
			li {
				margin: 0;
				&:first-child {
					margin-top: 0.5em;
				}
				&:last-child {
					margin-bottom: 0.5em;
				}
			}
			a {
				padding: 0.625em 1.5em;
				text-align: left;
				text-transform: capitalize;
				border-left: 3px solid $color_body_bg;
				line-height: 1.5em;
			}
			li:hover > a,
			li.focus > a {
				border-left: 3px solid $color_2;
				background: rgba(0, 0, 0, 0.05);
				transition: border 0.3s ease;
				color: $color_body_text;
			}
		}
	}

	// if last has children - pin subnav right
	li:last-child.menu-item-has-children .sub-menu {
		right: unset;
	}
	li:last-child.menu-item-has-children:hover .sub-menu {
		right: 0;
		@media screen and (max-width: $mobile_trigger) {
			right: unset;
		}
	}

	li:hover > ul,
	li.focus > ul {
		left: auto;
		opacity: 1;
	}

	li:hover > a,
	li.focus > a,
	.current_page_ancestor > a,
	.current-menu-item > a {
		color: $color_nav_highlight;
	}

	.sub-menu {
		.current-menu-item > a {
			color: $color_dark_gray;
		}
	}
	.page_item_has_children > a,
	.menu-item-has-children > a {
		&::after {
			content: "\f347";
			font-family: dashicons;
			display: inline;
			position: relative;
			align-self: end;
			font-size: 0.625em;
			margin-left: 0.75em;
			color: $color_light_gray;
		}
	}
}

/* Mobile menu. */
.menu-toggle {
	display: none;
}

@media screen and (max-width: $mobile_trigger) {
	.main-navigation.toggled ul,
	.menu-toggle {
		display: block;
		li {
			ul {
				height: unset;
				display: block;
				position: relative;
				left: 0;
				box-shadow: none;
				background: $color_body_bg;
				z-index: 100;
				min-width: 200px;
				border: none;
				opacity: 1;
				transition: opacity 300ms linear;
				margin: 0;
				padding: 0;
				a {
					padding-left: 1em;
					border-left-color: rgba(0, 0, 0, 0.05);
				}
			}
			a {
				width: 100%;
				text-align: left;
				padding: 0.5em 0;
			}
		}
		li:hover > a,
		li.focus > a,
		.current_page_ancestor > a,
		.current-menu-item > a,
		.current_page_item > a {
			color: $black;
			border-bottom: 0px solid $color_1;
			background: none;
		}
		li:hover > a {
			color: $color_2;
		}
		.sub-menu {
			li:hover > a {
				color: $black;
			}
		}
	}
	.menu-toggle {
		border: none;
		margin: 2em 0 1em;
		&:hover {
			cursor: pointer;
		}
	}

	.main-navigation ul,
	ul.sitelanguages {
		display: none;
	}
	ul.nav-menu,
	ul.menu,  
	.menu > ul {
		li {
			margin: 0;
		}
	}
}


