// Insert your primary and secondary colours here
$color_1: rgba(229, 81, 98, 1);
$color_2: #98213d;
// $color_5: #ffdbe3;
$salmon: #d30f50;
$background: #f6fafd;

// Buttons
a.btn,
input.btn {
    font-weight: 700;
    text-decoration: none !important;
    padding: 1.25em 1.625em;
    border: 2px solid $color_1;
    display: inline-block;
    &.btn--solid {
        background: $color_1;
        color: $white !important;
    }
    &.btn--hollow {
        background: $white;
        color: $black !important;
    }  
    &:hover {
        background: $color_2 !important;
        border-color: $color_2;
        color: $white !important;
        transition: all 0.3s ease;      
    }
}

// Team cards
.team-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2em;
    .wp-block-column:not(:first-child) {
        margin-left: 0;
    }
}
@media screen and (min-width: 781px) {
    .team-cards {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2em;
    }
}
@media screen and (max-width: 781px) {
    .additional-team-cards {
        margin-bottom: 0;
        .team-card--small {
            margin-bottom: 2em;
        }
    }
}
.team-card {
    padding: 1.5em 2em;
    transition: all 0.5s ease;
    background: $background;
    background-position: center;
    &:hover {
        background: #0c3755;
        h3,
        h3 + p {
            color: $white;
        }
        a {
            color: $white;
            text-decoration-color: $white;
        }
        .wp-block-separator {
            background-color: $black;
        }
    }
    h3,
    h4 {
        font-weight: 700;
        letter-spacing: -1px;
        color: $black;
        margin-bottom: 0em;
    }
    h3 {
        font-size: 1.325rem;
        & + p {
            font-style: italic;
            font-weight: 300;
        }
    }
    .wp-block-separator {
        height: 3px;
        width: 100px;
        margin: 0.75em 0;
        background-color: $salmon;
        border-top: 0;
        border-bottom: 0;
    }
    p {
        margin-bottom: 0;
    }
    a {
        font-weight: 700;
        font-size: 0.875em;
        &:hover {
            color: $white !important;
            text-decoration-color: $salmon !important;
        }
    }
    &.team-card--small {
        padding: 0;
        background: none;
        &:hover {
            background: none;
        }
        h4 {
            font-size: 1.125em;
            font-weight: 800;
            margin-bottom: 0.325rem;
            & + p {
                font-style: italic;
                font-weight: 300;
                margin-bottom: 0.325rem;
            }
        }
        p {
            line-height: 1.25em;
            &:last-child {
                font-weight: 700;
                font-size: 0.875em;
                letter-spacing: -0.5px;
                color: #0c3755;
            }
        }
    }
}

// Responsive video
.video-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 55%;
    iframe,
    object,
    embed {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}