// Width of elements
$widths: 60, 70, 80, 90, 100;
@each $width in $widths {
    .width-#{$width} {
        width: percentage($width/100);
        margin-left: auto;
        margin-right: auto;
    }
}

// Spacings
$spacings: 1, 2, 3, 4, 5;
@each $spacing in $spacings {
    .bottom-#{$spacing} { margin-bottom: #{$spacing}em; }
    .top-#{$spacing} { margin-top: #{$spacing}em }
    .left-#{$spacing} { margin-left: #{$spacing}em }
    .right-#{$spacing} { margin-right: #{$spacing}em }
}

// Alignment
.center {
    margin-left: auto;
    margin-right: auto;
}